*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
header{
	width: 100%;
	background: #000;
	display: flex;
}
.header__logo{
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 12%;
}
nav{
	margin-top: 56px;
	margin-left: 29%;
}
.topnav a{
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}
.topnav a:hover{
	border-bottom: 4px solid #fcac45;
}
.topnav .icon{
	display: none;
}
h2{
	font-size: 44px;
	font-weight: 600;
	padding-bottom: 30px;
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #666;
    color: white;
    cursor: pointer;
    padding: 17px;
    border-radius: 100%;
    font-size: 18px;
    opacity: 0.5;
}

#myBtn:hover {
    background-color: #555;
    color: #fcac45;
    opacity: 1;
}
main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
main .main__welcome{
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
}
main .main__welcome p{
	color: #999999;
	font-size: 20px;
}
main .main__welcome h1{
	color: #999999;
	font-size: 44px;
}
main .main__welcome p span{
	font-weight: 700;
}
.mycompany{
	color: #fcac45;
}
.welcome{
	font-weight: 300;
}
.wrapper{
	width: 70%;
	margin: 0 auto;
}
main .main__about{
	display: flex;
	padding: 100px 0 100px 0;
}
.about__right{
	margin-left: 175px;
}
.about__right h3{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding: 20px 0;
	font-size: 35px;
}
.about__right p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}
.about__right li{
	background: url(img/mark.png) 0px no-repeat;
	padding-left: 25px; 
	margin-top: 10px; 
	color: #5a5a5a;
}
.mw-100{
	min-width: 100%;
}
.about__right li span{
	font-style: italic;
}
.about__right h3 span:first-child{
	font-weight: 400;
}
.about__right h3 span:last-child{
	font-weight: 700; 
}
.main__team{
	background: #000;
	text-align: center;
	padding-bottom: 165px;
	color: #fff;
}
.line{
	width: 100px;
	height: 4px;
	background: #fcac45;
	margin: 0 auto;
}
.photo{
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.team__cards{
	margin-top: 105px;
	display: flex;
}
.name{
	font-size: 20px;
	margin-bottom: 7px;
	font-weight: 700;
}
.position{
	font-size: 16px;
	margin-bottom: 35px;
}
.about__position{
	font-size: 14px;
}
.card{
	margin: 0 20px;
}
h4{
	color: #222222;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.services__cards{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}
.main__services p{
	color: #6c6c6c;
	margin-bottom: 100px;
	margin-top: 55px;
	text-align: center;
}
.services__cards img{
	margin-bottom: 30px;
}
.services__cards p{
	color: #222222;
}
.main__clients{
	background: #000;
	color: #fff;
	padding-bottom: 210px;
	text-align: center;
}
.logo{
	margin-top: 110px;
}
.logo img{
	margin-left: 32px;
	margin-top: 10px;
}
.clients{
	font-weight: 300;
}
.main__gallery p{
	margin: 55px 0 180px 0;
	text-align: center;
	color: #6c6c6c;
	font-style: italic;
	font-size: 16px;
}
.main__gallery h2 span{
	font-weight: 300;
}
.gallery{
	margin-bottom: 100px;
}
.gallery img:hover{
	opacity: 0.85;
}
.text__testimonials{
	font-size: 18px;
	color: #e7e7e7;
	margin-top: 115px;
	text-align: center;
	text-transform: uppercase;
}
.dear_martin{
	margin-top: 50px;
	color: #b2b2b2;
	text-transform: none;
}
.dear_martin span{
	font-weight: 300;
}
.main__testimonials{
	background: #000;
	color: #fff;
	padding-bottom: 175px;
}
.main__testimonials span{
	font-weight: 300;
}
.main__contact{
	width: 753px;
	margin: 0 auto;
}
.main__contact .text__contact{
	text-align: center;
	color: #6c6c6c;
	margin: 60px 0 100px 0;
}
.red{
	color: red;
}
input{
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
	color: #636363;
}
input:first-of-type{
	margin-right: 30px;
}
.form__inputs{
	display: flex;
}
textarea
{
	width: 100%;
	height: 165px;
}
input, textarea{
	border: 1px solid #999;
}
.buttom__block{
	display: flex;
	justify-content: flex-end;
}
input[type=submit]:hover{
	cursor: pointer;
	box-shadow: 1px 1px 4px #555;
}
input[type=submit]:active{
	cursor: pointer;
	box-shadow: inset 1px 1px 4px #222;
}
input[type=submit] {
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: #fff;
	margin-right: 0;
	margin-top: 20px;
}
footer{
	width: 100%;
	background: #222222;
	height: auto;
	padding: 30px 0 30px 0;
}
.social{
	display: flex;
	justify-content: center;
}
.social img{
	margin-left: 12px;
}
.social img:hover{
	opacity: 0.6;
}
















@media screen and (max-width: 1270px){
	nav{
		margin-left: 20%;
	}
}
@media screen and (max-width: 1100px){
	nav{
		margin-left: 10%;
	}
}


@media screen and (max-width: 1010px){
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav{
		width: 100%;	
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
		height: 340px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}







	main .main__welcome{
		padding: 50px 0 50px;
	}
	main .main__welcome p{
		font-size: 14px;
	}
	main .main__welcome h1{
		font-size: 25px;
	}
	.mw-100{
		max-width: 100%;
	}
	.main__about{
		flex-direction: column;
	}
	.about__right{
		text-align: center;
		margin-left: 0;
	}
	.about__right li{
		text-align: left;
	}
	.about__right h2{
		margin-top: 10px;
		font-size: 25px;
	}

	.team__cards{
	flex-direction: column;
	}

	.services__cards{
		grid-template-columns: auto;
	}
	.line1 img:not(:first-child){
		display: none;
	}
	.line2 img:not(:first-child){
		display: none;
	}
	.line3 img:not(:first-child){
		display: none;
	}

}